*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    background-color: white;
}
.container{
    width: 1400px;
    height: 35px;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}
nav{
    display: flex;
    gap: 50px;
}
nav h1{
    color: black;
    margin-right: 550px;
}
.sh{
    display: flex;
    gap: 20px;
    color: black;
    left: 90px;
}
.sh a{
    color: black;
    transition: 0.3s;
    font-size: 20px;
}
.sh a:hover{
    color: rgb(253, 149, 166);
}

.ee img{
    width: 100%;
    height: 100%;
    margin-top: 60px;
}
.ww{
    text-align: center;
    margin-top: 30px;
}
.ww p{
    color: gray;
    margin-top: 10px;
}
.main2{
    display: flex;
    margin-top: 60px;
}
.hello{
    display: flex;
}
.hh{
    display: flex;
    gap: 200px;
}
.hi h4{
    color: black;
    margin-left: 210px;
}
.hi p{
    color: gray;
    margin-left: 155px;
}
.hey h4{
    color: black;
    margin-left: 390px;
}
.hey p{
    color: gray;
    margin-left: 395px;
}
.how h4{
    position: relative;
    left: 420px;
}
.how p{
    color: gray;
    position: relative;
    left: 370px;
}